@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

html, body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

#cabeçalho {
    position: relative; /* Para permitir que o pseudo-elemento seja posicionado dentro do cabeçalho */
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Impede que o pseudo-elemento ultrapasse o cabeçalho */
}

#cabeçalho::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/imagemCabeçalho.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(8px); /* Aplica o desfoque */
    z-index: -1; /* Coloca a imagem desfocada atrás do conteúdo */
}


#cabeçalho-menu{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-family: "Anton SC", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #4b2e2e;
}

nav ul{
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px;
    gap: 40px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

#Contato a {
    color: #4b2e2e;
    text-decoration: none;
    font-weight: 600;
}

#cabeçalho-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 40px;
    gap: 10px;
    margin-top: 40px;
}

h1 {
    font-family: "Anton SC", sans-serif;
    font-size: 48px;
    color: #f5efe6;
}

h1 span {
    color: #4b2e2e;
}

p {
    color: #f5efe6;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
    text-align: justify;
    max-width: 600px;
}

button {
    background-color: #f5efe6;
    color: #4b2e2e;
    font-size: 18px;
    border: #4b2e2e;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#NossosBlends {
    background-color: #f5efe6;
    color: #4b2e2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.blend{
    background-color: #f5efe6;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
}

.cartoes-blends{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 15px;
    width: 100%;
    max-width: 1200px; 
    margin-top: 30px;  
}

.blend h4 {
    font-family: "Anton SC", sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin: 3px 0;
}


.blend p {
    font-size: 24px;
    color: #4b2e2e;
    font-weight: 400;
    text-align: left;
    margin: 2px 0;
    
}


.cartoes-blends .blend img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 4px;
}

#NossosBlends h2 {
    font-family: "Anton SC", sans-serif;
    font-size: 48px;
    margin-top: 30px;
}

#NossosBlends p{
    font-size: 24px;
    color: #4b2e2e;
    font-weight: 500;
    text-align: center;
    margin: 5px 0;
}

#chamada-blend{
    font-family: "Anton SC", sans-serif;
    margin-top: 30px;
}

#NossosBlends button {
    background-color: #e0e8d3;
    border: 1px solid #4b2e2e;
    font-weight: 700;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#ProcessoArtesanal{
    background-color: #f5efe6;
    color: #4b2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    
}

#ProcessoArtesanal h2{
    font-family: "Anton SC", sans-serif;
    font-size: 48px;
    margin-top: 80px;
    text-align: center;
  
}

#ProcessoArtesanal p{
    color: #4b2e2e;
    font-size: 24px;
    font-weight: 500;
    max-width: 600px;
    text-align: center;
    margin: 20px 0;
}



.cartões-Processo img{
    width: 200px;
    height: 200px;
}

.cartões-Processo-Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    column-gap: 180px; /* Espaçamento maior entre as colunas */
    row-gap: 20px; /* Espaçamento entre as linhas, sem alterações */
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}



.cartões-Processo {
    padding: 10px;
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    margin-top: 50px;
}

.cartões-Processo h4 {
    font-family: "Anton SC", sans-serif;
    font-size: 32px;
}

.cartões-Processo p {
    font-size: 24px;
    text-align: left;
    
}

#Depoimentos-Clientes{
    background-color: #fff;
    color: #4b2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 80vh;
}

#Depoimentos-Clientes h2 {
    font-family: "Anton SC", sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 60px;
}

.cartões-Depoimentos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    max-width: 900px;
    width: 100%;
}

.Depoimentos {
    padding: 15px;
    background-color: #f5efe6;
    border-radius: 10px;
    border: 2px solid #4b2e2e;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.Depoimentos p {
    color: #4b2e2e;
    text-align: left;
}

.Depoimentos p:first-child{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

.Depoimentos p:last-child{
    font-size: 24px;
    text-align: center;
}



/*#Produtos{
    background-color: #f5efe6;
}

.cartões-Produtos{
    background-color: #fff;
    padding: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    width: 250px;
    height: 200px;
}
*/